<h1>Política de privacidad para los lectores de Acme </h1>

<p>En Acme Readers, accesible desde www.acme.com, uno de nuestros principales
	prioridades es la privacidad de nuestros visitantes. Este documento de Política de Privacidad
	contiene tipos de información que Acme Writers recopila y registray cómo lo usamos.</p>

<p>Si tiene más preguntas o necesita más información, no dude en ponerse en contacto con nosotros.
	sobre nuestra Política de Privacidad, no dude en ponerse en contacto con nosotros a través del correo electrónico
	en olimpia@gmail.com</p>

<h2>Reglamento General de Protección de Datos (GDPR)</h2>
<p>Somos un controlador de datos de su información.</p>

<p>Base legal de Acme Readers para la recogida y uso de la información personal
	la información descrita en esta Política de Privacidad depende de la información Personal
	La información que recopilamos y el contexto específico en el que la recopilamos
	Información:</p>
<ul>
	<li>Los lectores de Acme Readers necesitan realizar un contrato con usted</li>
	<li>Usted le ha dado permiso a Acme Readers para hacerlo.</li>
	<li>El tratamiento de sus datos personales se realiza en Acme Readers
		intereses legítimos</li>
	<li>Los lectores de Acme Readers deben cumplir con la ley.</li>
</ul>

<p>
	Acme Readers conservará su información personal sólo durante el tiempo en que
	es necesario para los fines establecidos en esta Política de Privacidad. Nosotros
	retener y utilizar su información en la medida en que sea necesario para cumplir con
	nuestras obligaciones legales, resolver disputas y hacer cumplir nuestras políticas.
</p>

<p>Si usted es residente del Espacio Económico Europeo (EEE), usted
	tienen ciertos derechos de protección de datos. Si desea que le informemos de lo que
	Información personal que tenemos sobre usted y si desea que se elimine
	de nuestros sistemas, por favor contáctenos.</p>
<p>En determinadas circunstancias, usted tiene la siguiente protección de datos
	derechos:</p>
<ul>
	<li>El derecho a acceder, actualizar o eliminar la información que le concierne.</li>
	<li>El derecho de rectificación.</li>
	<li>El derecho a objetar.</li>
	<li>El derecho de restricción.</li>
	<li>El derecho a la portabilidad de los datos</li>
	<li>El derecho a retirar el consentimiento </li> 
	<li>El derecho a retirar el consentimiento </li>.
</ul>

<h2>Ficheros de registro</h2>

<p>Acme Readers sigue un procedimiento estándar de uso de archivos de registro.
	Estos archivos registran a los visitantes cuando visitan los sitios web. Todos los alojamientos
	las empresas hacen esto y una parte de los análisis de los servicios de hosting. El
	la información recopilada por los archivos de registro incluye el protocolo de Internet (IP)
	direcciones, tipo de navegador, proveedor de servicios de Internet (ISP), fecha y hora
	sello, páginas de referencia/salida y, posiblemente, el número de clics. Estos
	no están vinculados a ninguna información que sea personalmente identificable. El
	El propósito de la información es analizar las tendencias, administrar la
	seguimiento de los movimientos de los usuarios en el sitio web, y la recopilación de
	información demográfica.</p>

<h2>Cookie</h2>

<p>Al igual que cualquier otro sitio web, Acme Readers utiliza 'cookies'. Estos
	las cookies se utilizan para almacenar información, incluidas las preferencias de los visitantes,
	y las páginas del sitio web a las que el visitante accedió o visitó. El
	la información se utiliza para optimizar la experiencia de los usuarios mediante la personalización de
	el contenido de nuestra página web basado en el tipo de navegador de los visitantes y/u otro
	información.</p>


<h2>Nuestros Socios de Publicidad </h2>

<p>Algunos de los anunciantes de nuestro sitio pueden utilizar cookies y web beacons.
	Nuestros socios publicitarios se enumeran a continuación. Cada uno de nuestros anuncios
	partners tiene su propia Política de Privacidad para sus políticas de datos de usuario.
	Para facilitar el acceso, hemos creado un hipervínculo a sus políticas de privacidad a continuación.</p>
<h2>Pagos </h2>
<p>El futuro y los patrocinadores reales pueden saber: <p>.
	<ul>
		<li>El servicio cobrará una tasa de interés a la tarjeta de crédito de acuerdo a todos los patrocinios que este proveedor tenga.</li>
		<li>Esta velocidad de destello puede ser cambiada pero la aplicada a la creada no cambiará a voluntad.</li>
	</ul>
	
<h2>Uso de datos </h2>

<h2>Políticas de privacidad </h2>

<p>Puede consultar esta lista para encontrar la Política de Privacidad para cada uno de los siguientes temas
	los socios publicitarios de Acme Readers.</p>

<p>Los servidores de anuncios o redes publicitarias de terceros utilizan tecnologías como
	cookies, JavaScript, que se utilizan en sus respectivos
	los anuncios y enlaces que aparecen en los Acme Readers, que son enviados
	directamente al navegador del usuario. Reciben automáticamente su dirección IP
	cuando esto ocurra. Estas tecnologías se utilizan para medir la
	de sus campañas publicitarias y/o para personalizar la imagen de su empresa.
	contenido publicitario que usted ve en los sitios web que visita.</p>

<p>Note que Acme Readers no tiene acceso a o control sobre estos archivos
	cookies que son utilizadas por terceros anunciantes.</p>

<h2>Políticas de privacidad de terceros </h2>

<p>La Política de Privacidad de Acme Readers no se aplica a otros anunciantes.
	o sitios web. Por lo tanto, le aconsejamos que consulte las respectivas
	Políticas de privacidad de estos servidores de anuncios de terceros para obtener información más detallada
	información. Puede incluir sus prácticas e instrucciones acerca de cómo
	para optar por no participar en ciertas opciones. Usted puede encontrar una lista completa de estos
	Políticas de privacidad y sus enlaces aquí: Política de privacidad Links.</p>

<h2>Información sobre menores</h2>

<p>Otra parte de nuestra prioridad es la proteccion a menores miesntras usan iternet.
Animamos a los padres en guardar y observarlos, participar y/o monitorizar el acceso a internet. Así como guiarlos en esta actividad.</p>

<p>Acme Readers no almacena información de menores de 13 años.
Si crees que tu hijo ha proporcionado información identificable en nuestro portal,
le animamos a contactar con nosotros inmediatamente y le garantizamos nuestro mayor exfuerzo para eliminar dicha información.</p>

<h2>Política de privacidad en línea sólo </h2>

<p>Nuestra Política de Privacidad se aplica sólo a nuestras actividades en línea y es
	válido para los visitantes de nuestro sitio web con respecto a la información que
	que compartieron y/o coleccionaron en Acme Readers. Esta política no es
	aplicable a cualquier información recopilada fuera de línea o a través de otros canales.
	que este sitio web.</p>

<h2>Consentimiento </h2>

<p>Al utilizar nuestro sitio web, usted acepta nuestra Política de Privacidad.
	y acepto sus términos.</p>